<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="headerfiles(title, filecss)">
		<link href="/css/fragments/base.css" rel="stylesheet"/>
		<link th:href="@{'/css/' + ${filecss}}" rel="stylesheet"/> 
	</head>
	<body>
		<header th:fragment="intestazione">
			<div id="corpo">
				<div id="parte_sinistra">
					<a href="informazioni.html">Informazioni</a>
				</div>
				<div id="parte_destra">
					<a th:href="@{/login}">Accedi</a> / <a th:href="@{/register}">Registrati</a>
				</div>
			</div>
		</header>
		<section>Corpo della pagina</section>
		<footer th:fragment = "fondo"><a th:href="@{'/'}">Home</a></footer>
	</body>
</html>