body {
	margin: 0px;
	background-color: lightblue;
}

header {
	background-color: lightgreen;
	border-bottom: 3px solid green;
	font-size: 12pt;
}

section {
	margin: 5px;
}

.titolo_centrato {
	text-align: center;
	font-size: 28pt;
}

.testo_centrato {
	text-align: center;
}

.table_dati {
	margin-left: auto;
	margin-right: auto;
}

.evidenziato {
	background-color: yellow;
}

.messaggio_reg_compl, .messaggio_errore {
	font-size: 20pt;
}

#corpo {
	margin: 0px 3px;
	display: flex;
	justify-content: space-between;
}

footer {
	width: 100%;
	background-color: dimgray;
	position: fixed;
	bottom: 0;
	text-align: center;
}