<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/baseAdmin.html :: headerfiles(title='Modifica dati arbitro', filecss='modificaArbitro.css')">
	</head>
	<body>
		<header th:replace="fragments/baseAdmin.html :: intestazione">
		</header>
		<section>
			<h1>Modifica dati di un arbitro</h1>
			Nei campi sono presenti i dati dell'arbitro selezionato, <br>
			puoi modificare un o pi&ugrave; campi per modificare uno o pi&ugrave;  dati corrispondenti dell'arbitro, <br>
			poi per confermare la modifica premi il pulsate "Modifica".
			<form th:action="@{/modificaArbitro}" method="post" th:object="${arbitro}">
				<table>
					<tr>
						<td>Cognome:</td>
						<td><input type="text" placeholder="Cognome" th:field="*{cognome}" th:value="*{cognome}" required/></td>
					</tr>
					<tr>
						<td>Nome:</td>
						<td><input type="text" placeholder="Nome" th:field="*{nome}" th:value="*{nome}" required/></td>
					</tr>
					<tr>
						<td>Telefono:</td>
						<td><input type="text" placeholder="Telefono" th:field="*{telefono}" th:value="*{telefono}" required/></td>
					</tr>
					<tr>
						<td>Nazionalit&grave;:</td>
						<td><input type="text" placeholder="Nazionalità" th:field="*{nazionalita}" th:value="*{nazionalita}" required/></td>
					</tr>
				</table>
				<input type="submit" value="Modifica"/>
			</form>
		</section>
	</body>
</html>