<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/baseAdmin.html :: headerfiles(title='Modica dati arbitro completata', filecss='admin/modificaArbitroCompletata.css')"></head>
	<body>
		<header th:replace="fragments/baseUtente.html :: intestazione"></header>
		<section>
			<h1>Modica dati arbitro completata.</h1>
			La modifica dei dati dell'arbitro selezionato &egrave; andata a buon fine. <br>
			Clicca <a th:href="@{/default}">qui</a> per ritornare nella home.
		</section>
		<footer th:replace="fragments/baseAdmin.html :: fondo"></footer>
	</body>
</html>