<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head
		th:replace="fragments/baseAdmin.html :: headerfiles(title='Registra arbitro', filecss='admin/registraArbitro.css')"></head>
	<body>
		<header th:replace="fragments/baseAdmin.html :: intestazione"></header>
		<section>
			<h1>Registra arbitro</h1>
			<div>Inserisci i dati dell'arbitro:</div>
			<form th:action="@{/admin/registraArbitro}" method="post" th:object="${arbitro}">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p><span class="evidenziato" th:each="err : ${#fields.globalErrors()}" th:text="${err}">errore</span></p>
				</div>
				<div id="arbitro">
					<div>
						Cognome: <input type="text" th:field="*{cognome}" />
					</div>
					<div>
						Nome: <input type="text" th:field="*{nome}">
					</div>
					<div>
						Numero di telefono: <input type="text" th:field="*{telefono}" />
					</div>
					<div>
						Nazionalit&agrave: <input type="text" th:field="*{nazionalita}" />
					</div>
				</div>
				<div>
					<input type="submit" value="Registra" />
				</div>
				<div><span class="evidenziato" th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}">errore-su-cognome</span></div>
				<div><span class="evidenziato" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">errore-su-nome</span></div>
				<div><span class="evidenziato" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">errore-su-telefono</span></div>
				<div><span class="evidenziato" th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}">errore-su-nazionalita</span></div>
			</form>
		</section>
		<footer th:replace="fragments/baseAdmin.html :: fondo"></footer>
	</body>
</html>