<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title,filecss)">
<meta charset="UTF-8" />
<title th:text="${title}">Titolo</title>
<link href="/css/fragments/base.css" rel="stylesheet" />
<link th:if="${filecss!=''}" th:href="@{'/css/' + ${filecss}}" rel="stylesheet" />
</head>
<body>
	<header th:fragment="intestazione">
		<div id="testa">
			<div id="sinistra">
				<a th:href="@{/index}">Home</a>- <a th:href="@{/tornei}">Tornei</a>
			</div>
			<div id="destra">
				<span> <a th:href="@{/login}">LogIn</a>/<a
					th:href="@{/register}">SingUp</a>
				</span>
			</div>
		</div>
	</header>
	<section>Corpo-della-pagina</section>
	<footer th:fragment="fondo">
		<a th:href="@{/}">Home</a>
	</footer>
</body>
</html>