<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base_admin :: headerfiles(title='Modifica opera', filecss='')">
	</head>
	<body>
		<header th:replace="fragments/base_admin.html :: intestazione">
		</header>
		<section>
			<h1 class="titolo_centrato">Modifica opera</h1>
			<div class="testo_centrato">
				Nei campi sono presenti i dati dell'opera selezionata, <br>
				puoi modificare uno o pi&ugrave; campi per modificare uno o pi&ugrave;  dati corrispondenti dell'opera, <br>
				poi per confermare la modifica premi il pulsate "Modifica".
			</div>
			<form th:action="@{/admin/modificaOpera}" method="post" th:object="${opera}">
				<table class="table_dati">
					<tr>
						<td><input type="hidden" th:value="*{id}"/>
					</tr>
					<tr>
						<td>Titolo</td>
						<td><input type="text" th:value="*{titolo}" required/></td>
					</tr>
					<tr>
						<td>Anno:</td>
						<td><input type="number" th:value="*{anno}" required/></td>
					</tr>
					<tr>
						<td>Autore:</td>
						<td>
							<select name="autor" required>
								<option th:each="artista : ${artisti}" th:if="{opera.artista.id = artista.id}"
										th:value="${artista.id}" 
										th:text="|${artista.nome} ${artista.cognome} ${artista.dataNascita} ${artista.cittaNascita}|">
											nome-cognome-data-cittaNascita Artista
								</option>
								<option th:each="artista : ${artisti}" th:if="{opera.artista.id = artista.id}"
										th:value="${artista.id}" 
										th:text="|${artista.nome} ${artista.cognome} ${artista.dataNascita} ${artista.cittaNascita}|">
											nome-cognome-data-cittaNascita Artista
								</option>
							</select>
						</td>
					<tr>
						<td>Descrizione: </td>
						<td>
							<textarea placeholder="Descrizione" th:field="*{descrizione}" 
									  rows="10" cols="50" maxlength="5000" required>
							</textarea>
						</td>
					</tr>
					<tr>
						<td>Immagine: </td>
						<td><input type="file" name="immagine" accept="image/png, image/jpeg"/></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="Modifica"/></td>
					</tr>
				</table>
			</form>
		</section>
		<footer th:replace="fragments/base_admin.html :: fondo">
		</footer>
	</body>
</html>