<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='Modica dati collezione completata', filecss='')"></head>
	<body>
		<header th:replace="fragments/base_admin.html :: intestazione"></header>
		<section>
			<h1>Modica dati collezione completata.</h1>
			<div class="centrato">
			La modifica dei dati della collezione selezionata &egrave; andata a buon fine. <br>
			Clicca <a th:href="@{/default}">qui</a> per tornare nella home.
			</div>
		</section>
	</body>
</html>