<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='Scelta opera da modificare', filecss='')">
	</head>
	<body>
		<header th:replace="fragments/base_admin.html :: intestazione">
		</header>
		<section>
			<h1 class="titolo_centrato">Scelta opera da modifcare</h1>
			Ecco la lista di tutte le opere. <br>
			Scegli uno tra queste elencate per modificare i dati di un'opera:<br>
			<div th:unless=${#lists.isEmpty(opere)}>
				<form th:action="@{/admin/sceltaOperaPerModifica}" method="post">
					<table>
						<tr th:each="opera : ${opere}">
							<td><input type="radio" name="operaSelezionata" th:value="${opera.id}" required/></td>
							<td>
								Opera: <a th:href="@{'/opera/' + ${opera.id}}" th:text="${opera.titolo}">Titolo-opera</a> <br>
							</td>
						</tr>
						<tr>
							<td></td>
							<td><input type="submit" value="Modifica"/></td>
						</tr>
					</table>
				</form>
			</div>
			<div th:if=${#lists.isEmpty(opere)}>
				<strong class="messaggio_errore">Nessuna collezione disponibile per la modifica</strong>
			</div>
		</section>
	</body>
</html>