<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='Iscrizione torneo', filecss='')"></head>
	<body>
		<header th:replace="fragments/baseUtente.html :: intestazione"></header>
		<section>
			<h1>Iscrizione ad un torneo</h1>
			<div>Scegli tra uno di questi tornei disponibili:</div>
			<div th:unless=${#lists.isEmpty(torneiDisponibili)}>
			<form th:action="@{/iscrizioneTorneo}" method="post">
				<div class="torneo" th:each="torneoDisponibile : ${torneiDisponibili}" style="height: 77px; ">
					<div class="radioCheckbox">
						<input id="rad" type="radio" name="torneoSelezionato" th:value="${torneoDisponibile.id}" required>
						<span th:text="${torneoDisponibile.nome}" strong >nome</span> <br>
						<div id="infotor">
							Premio: <span th:text="${torneoDisponibile.premioInDenaro}">premio</span><br>
							Periodo dell'evento: <span th:text="|${torneoDisponibile.mese} ${torneoDisponibile.anno}|">data</span><br>
							Posti disponibili: <span th:text="${torneoDisponibile.numeroMaxDiPartecipanti-torneoDisponibile.numeroPartecipanti}">numero</span>/<span th:text="${torneoDisponibile.numeroMaxDiPartecipanti}">numero partecipanti</span><br>
						</div>
					</div>
				</div>
				<div><input type="submit" value="Registra"/></div>
			</form>
			</div>
			<div th:if=${#lists.isEmpty(torneiDisponibili)}><h2>Nessun torneo disponibile</h2></div>
		</section>
	</body>
</html>