body {
	background-color: mediumturquoise;
	margin: 0px;
}

header {
	background-color: silver;
	border-bottom: 3px solid #808080;
}

section {
	margin: 5px;
}

#testa {
	display: flex;
	justify-content: space-between;
}

#sinistra {
	display: flex;
	justify-content: flex-start;
}

#destra {
	display: flex;
	justify-content: flex-end;
}

footer {
	background-color: #dee0e1;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

h1{
	text-align: center;
	font-size: 25pt;
}