body {
	background-color: mediumturquoise;
	margin: 0px;
}

header {
	background-color: #808080;
}

section {
	margin: 5px;
}

#testa{
	display: flex;
	justify-content: space-between;
}

#sinistra{
	display: flex;
	justify-content: flex-start;
}

#destra{
	display: flex;
	justify-content: flex-end;
}

footer {
	background-color: #dee0e1;
}