<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='Artisti', filecss='artisti.css')"> </head>
	<body>
		<header th:replace="fragments/base_utente.html :: intestazione"></header>
		<section>
			<h1 class="titolo_centrato">Artisti</h1>
			Qui c'&egrave; l'elenco di tutti di gli artisti ordinati per il cognome: <br>
			<ul th:unelss=${#lists.isEmpty(artisti)}>
				<li th:each="artista : ${artisti}">
					<a th:href="@{'/artista' + '/' + ${artista.id}}" th:text="|${artista.cognome} ${artista.nome} data di nascita: ${artista.dataNascita}|">cognome-nome-artista</a>
				</li>
			</ul>
			<div th:if=${#lists.isEmpty(artisti)}>nessun artista disponibile per la visualizzazione</div>
		</section>
	</body>
	<footer th:replace="fragments/base_utente.html :: fondo"></footer>
</html>