<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='Artista',filecss='artista.css')">
</head>
<body>
	<header th:replace="fragments/base_utente.html :: intestazione">
	</header>
		<section>
			<h1 class="titolo_centrato" th:text="|${artista.nome} ${artista.cognome}|">Vincent van Gogh</h1>
			<strong th:text="|${artista.nome} ${artista.cognome}|">Vincent van Gogh</strong>
			 e' nato a <a th:href="@{'https://it.wikipedia.org/wiki/' + ${artista.cittaNascita}}" th:text="${artista.cittaNascita}">Zundert (Paesi Bassi)</a> nel <em th:text="${artista.dataNascita}">30 marzo 1853</em>
			 <span th:if="${artista.dataMorte}">
			 ed e' morto a <a th:href="https://it.wikipedia.org/wiki/|${artista.cittaMorte}|" th:text="${artista.cittaMorte}">Auvers-sur-Oise</a> nel <em th:text="${artista.dataMorte}">29 luglio 1890</em>
			 </span>
			<h2>Biografia</h2>
			<section>
			<p th:text="${artista.biografia}">
				La vita di van Gogh è stata funestata dal malessere psichico. Non si sa ancora con certezza quale fosse la malattia che lo affliggesse, 
				quel che è certo è che l’artista soffriva di attacchi di panico e allucinazioni alle quali reagiva con atti di violenza e tentativi di suicidio, 
				seguiti da uno stato di torpore. Il tutto era aggravato dall’alcool. Van Gogh era infatti un amante dell’assenzio.
			</p>
			</section>
			<h2>Opere</h2>
			Le opere di <span th:text="|${artista.nome} ${artista.cognome}|">sono</span>  sono:<br>
			<div id="elenco_opere" th:unless=${#lists.isEmpty(artista.opere)}>
				<div class="opera" th:each="opera,iterStat : ${artista.opere}">
					<img th:src="@{'/images/opere/' + ${opera.img}}"/><div>
				<a th:href="@{'/opera' + '/' + ${opera.id}}" th:text="${opera.titolo}">Notte
					stellata </a><br th:if="${iterStat.index%4==0}">
					</div>
				</div>
			</div>

			
			
			<div >
				<img> <titolo_opera>
			</div>
			
			
			
			
			
			<span th:if=${#lists.isEmpty(artista.opere)}>Nessun opera disponibile per questo artista</span>
		</section>
	</body>
	<footer th:replace="fragments/base_utente.html :: fondo"></footer>
</html>