<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragment/base.html :: headerfiles(title='Artista',filecss='')">
</head>
<body>
	<header th:replace="fragments/base_utente.html :: intestazione">
	</header>
		<section>
			<h1 th:text="|${artista.nome} ${artista.cognome}|">Vincent van Gogh</h1>
			<strong th:text="|${artista.nome} ${artista.cognome}|">Vincent van Gogh</strong>
			 e' nato a <a th:href="https://it.wikipedia.org/wiki/${artista.cittaNascita}" th:text="${artista.cittaNascita}">Zundert (Paesi Bassi)</a> nel <em th:text="${artista.dataNascita}">30 marzo 1853</em>
			 <span th:if="${artista.dataMorte}">
			 ed e' morto a <a th:href="https://it.wikipedia.org/wiki/${artista.cittaMorte}" th:text="${artista.cittaMorte}">Auvers-sur-Oise</a> nel <em th:text="${artista.dataMorte}">29 luglio 1890</em>
			 </span>
			<h2>Biografia</h2>
			<section th:text="${Biografia}">
			<p>
				La vita di van Gogh è stata funestata dal malessere psichico. Non si sa ancora con certezza quale fosse la malattia che lo affliggesse, 
				quel che è certo è che l’artista soffriva di attacchi di panico e allucinazioni alle quali reagiva con atti di violenza e tentativi di suicidio, 
				seguiti da uno stato di torpore. Il tutto era aggravato dall’alcool. Van Gogh era infatti un amante dell’assenzio.
			</p>
			<p>
				Vincent aveva un rapporto molto stretto con suo fratello Theo, mercante d’arte che per anni lo sostenne economicamente. 
				Tale legame è testimoniato dalle oltre 600 lettere che Vincent inviò al fratello. Il film di Robert Altman del 1990, Vincent and Theo racconta 
				la vita dell’artista da questo particolare punto di vista, con il bravissimo Tim Roth nei panni dell’artista olandese.
			</p>
			<p>
				Nel 1879 van Gogh si recò nelle regioni minerarie del Belgio per prendersi cura dei malati e predicare la Bibbia ai minatori. 
				Decise di vivere come loro, in povertà, dormendo in una baracca e dividendo con gli altri i pasti frugali attorno alla flebile luce delle lampade.
			</p>
			<p>
				Questo eccesso di fervore tuttavia spaventò i responsabili della Scuola di Evangelizzazione di Bruxelles, che decisero di non gli rinnovargli 
				l’incarico di predicatore.
			</p>
			<p>
				Gli umili, i lavoratori dei campi e i minatori sono i soggetti preferiti da van Gogh, oltre ai numerosi autoritratti, ai paesaggi, 
				ai dipinti con cipressi e alla rappresentazione di campi di grano e girasoli.
			</p>
			<p>
			<p>
				Alcuni avvicinano lo stile di van Gogh all’impressionismo, ma a differenza degli impressionisti puri, van Gogh nelle sue opere non descrive 
				la realtà dal suo particolare punto di vista, ma compie l’operazione inversa: è la realtà che diventa una creazione e 
				una rappresentazione dell’io interiore dell’artista. Per questo è considerato un pioniere dell’espressionismo.
			</p>
			<p>
				Nel 1888, su consiglio del fratello Theo, van Gogh si trasferì ad Arles, nel sud della Francia per vivere con il pittore Gauguin, amico di Theo.
			</p>
			<p>
				Il rapporto tra i due non fu facile, le liti erano frequenti, anche a causa dell’instabilità emotiva di van Gogh. 
				Pare che, dopo un alterco avvenuto nella casa di Arles, l’artista olandese inseguì l’amico in strada con un rasoio minacciando di aggredirlo. 
				La loro relazione tuttavia degenerò del tutto quando una sera, ubriaco e in preda alla rabbia, Vincent scagliò un pesante bicchiere contro l’amico. 
				Probabilmente la causa del litigio fu Rachele, una prostituta che lavorava in un bordello frequentato dall’amico Gauguin, di cui Vincent era innamorato.
				Quel giorno Gauguin decise di lasciare Arles.
			</p>
			<p>
				A Rachele è legato uno degli episodi più famosi della vita di van Gogh. Nel 1889 infatti, Vincent, in preda alle allucinazioni e 
				folle di gelosia  si mozzò con un rasoio metà dell’orecchio sinistro e lo spedì a Rachele, come pegno di amore. 
				Qualche giorno dopo Vincent si ritrasse con una vistosa fasciatura a coprire l’orecchio mutilato.
			</p>
			<p>
				Su questa storia si è scritto molto. C’è anche chi sostiene che fu lo stesso Gauguin a sfregiare l’amico in seguito ad una lite, 
				ma è una teoria considerata poco attendibile. In realtà pare che van Gogh non si tagliò via l’intero orecchio, ma solo una piccola parte del lobo, 
				ma questi sono dettagli.
			</p>
			<p>
				Van Gogh morì a soli 37 anni per un colpo di rivoltella probabilmente auto inferto. C’è però chi sostiene che non si sia trattato di un suicidio 
				ma che si sia trattato di un incidente, legato all’abitudine che aveva Van Gogh di passeggiare di notte nei campi di grano. 
				Secondo alcuni testimoni infatti, pochi giorni prima della morte dell’artista, in quegli stessi campi alcuni ragazzi del luogo stavano giocando 
				al tiro al bersaglio con una pistola. L’ipotesi è che l’artista possa essere stato ferito da uno di quei proiettili, per poi trascinarsi, 
				ferito e sanguinante, nella sua camera. La comunità accademica tuttavia non ha accolto questa ipotesi.
			</p>
			</section>
			<h2>Opere</h2>
			Le opere di Vincent van Gough sono:
			<ul>
				<li th:each="opera : ${opere}"><a
				th:href="@{'/opera' + '/' + ${opera.id}" th:text="${opera.nome}">Notte
					stellata </a>
			</ul>
		</section>
	</body>
</html>