<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragment/base.html :: headerfiles(title='Collezione',filecss='')">
</head>
<body>
	<header th:replace="fragments/base_utente.html :: intestazione">
	</header>
	<section>
		<h1 th:text="${collezione.nome}">Nome collezione</h1>
		Questa collezione del museo viene gestita da <strong
			th:text="|${collezione.curatore.nome} ${collezione.curatore.cognome}">Giovanni
			Belli</strong>. Le opere presenti qui sono: <br>
		<ul>
			<li th:each="opera : ${opere}"><a
				th:href="@{'/opera' + '/' + ${opera.id}" th:text="${opera.nome}">Notte
					stellata </a> di <a
				th:href="@{'/opera.artista' + '/' + ${opera.artista.id}"
				th:text="|${opera.artista.nome} + ${opera.artista.cognome}|">Vincent
					van Gogh</a>.
		</ul>
	</section>
</body>
</html>