<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='Accedi', filecss='login.css')">
	</head>
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<section>
			<h1 class="titolo_centrato">Accedi</h1>
			<form th:action="@{/login}" method="post">
				<table class="table_dati">
					<tr>
						<td>Username:</td>
						<td><input name="username" type="text" placeholder="Username" required/></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input name="password" type="password" placeholder="Password" required/></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="Accedi"/></td>
					</tr>
				</table>
			</form>
		</section>
		<footer th:replace="fragments/base.html :: fondo"></footer>
	</body>
</html>