<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base_utente.html :: headerfiles(title='Opera', filecss='opera.css')">
	</head>
	<body>
		<header th:replace="fragments/base_utente.html :: intestazione">
		</header>
		<section>
			<h1 th:text="${opera.nome}">Notte stellata</h1>
			<img src="images/van_gogh_notte_stellata.jpg"/> <br>
			<strong>Titolo opera:</strong> Notte stellata <br>
			<strong>Descrizione:</strong> questa e' una descrizione.<br>
			<strong>Autore:</strong> <a href="van_gogh.html">Vincent van Gogh</a>
		</section>
	</body>
</html>