<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='Registrazione effettuata', filecss='')">
	</head>
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<section>
			<h1 class="titolo_centrato">Registrazione effettuata</h1>
			<div class="testo_centrato messaggio_reg_compl">La registrazione &egrave; andata a buon fine.</div>
		</section>
		<footer th:replace="fragments/base.html :: fondo"></footer>
	</body>
</html>