<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base_admin.html :: headerfiles(title='Inserimento opere nella collezione', filecss='')">
	</head>
	<body>
		<header th:replace="fragments/base_admin.html :: intestazione">
		</header>
		<section>
			<h1 class="titolo_centrato">Inserimento opere nella collezione</h1>
			Secgli una  o pi&ugrave; opere tra questi elencate per inserirli nella collezione. <br>
			Elenco delle opere disponbili da inserire:<br>
			<div th:unless=${#lists.isEmpty(opereInseribili)}>
				<form th:action="@{/admin/inserisciOpereACollezione}" method="post">
					<table>
						<tr>
							<td><input type="hidden" name="idCollezione" th:value="${collezione.id}"/></td>
						</tr>
						<tr th:each="opera : ${opereInseribili}">
							<td><input type="checkbox" name="operaSelezionato" th:value="${opera.id}" required/></td>
							<td>
								Opera: <a th:href="@{'/opera/' + ${opera.id}}" 
										  th:text="${opera.nome}">nome-opera</a>
							</td>
						</tr>
						<tr>
							<td></td>
							<td><input type="submit" value="Inserisci"/></td>
						</tr>
					</table>
				</form>
			</div>
			<div class="messaggio_errore" th:if=${#lists.isEmpty(opereInseribili)}>
				<strong>Nessuna opera disponibile da inserire nella collezione.</strong>
			</div>
		</section>
		<footer th:replace="fragments/base_admin.html :: fondo">
		</footer>
	</body>
</html>