<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/baseAdmin.html :: headerfiles(title='Modifica dati torneo', filecss='')">
	</head>
	<body>
		<header th:replace="fragments/baseAdmin.html :: intestazione">
		</header>
		<section>
			<h1>Modifica dati di un torneo</h1>
			Nei campi sono presenti i dati del torneo selezionato, <br>
			puoi modificare un o pi&ugrave; campi per modificare uno o pi&ugrave;  dati corrispondenti del torneo, <br>
			poi per confermare la modifica premi il pulsate "Modifica".
			<form th:action="@{/admin/modificaTorneo}" method="post" th:object="${torneo}">
				<div th:if="${#fields.hasGlobalErrors()}">
	  				<p> <span class="evidenziato" th:each="err : ${#fields.globalErrors()}" th:text="${err}">errori</span></p>
				</div>
				<table>
					<tr>
						<td><input type="hidden" th:field="*{id}" th:value="*{id}"/></td>
					</tr>
					<tr>
						<td>Nome:</td>
						<td><input type="text" placeholder="Nome" th:field="*{nome}" th:value="*{nome}" required/></td>
					</tr>
					<tr>
						<td>Numero massimo di partecipanti:</td>
						<td><input type="number" placeholder="Numero max di partecipanti" th:field="*{numeroMaxDiPartecipanti}" th:value="*{numeroMaxDiPartecipanti}" required/></td>
					</tr>
					<tr>
						<td>Mese:</td>
						<td>
							<select th:field="*{mese}">
								<option value="1">Gennaio</option>
								<option value="2">Febbraio</option>
								<option value="3">Marzo</option>
								<option value="4">Aprile</option>
								<option value="5">Maggio</option>
								<option value="6">Giugno</option> 
								<option value="7">Luglio</option>
								<option value="8">Agosto</option>
								<option value="9">Settembre</option>
								<option value="10">Ottobre</option>
								<option value="11">Novembre</option>
								<option value="12">Dicembre</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Anno:</td>
						<td><input type="number" placeholder="Anno" th:field="*{anno}" th:value="*{anno}" required/></td>
					</tr>
					<tr>
						<td>Premio in denaro (&euro;):</td>
						<td><input type="number" placeholder="Premio" th:field="*{premioInDenaro}" th:value="*{premioInDenaro}" required/></td>
					</tr>
					<tr>
						<td>Arbitro:</td>
						<td>
							<select name="arbtr">
								<option th:each="arbitro : ${arbitri}" th:if="${torneo.arbitro.id == arbitro.id}" th:value="${arbitro.id}" th:text="|${arbitro.cognome} ${arbitro.nome}|" selected>cognome-nome arbitro</option>
								<option th:each="arbitro : ${arbitri}" th:unless="${torneo.arbitro.id == arbitro.id}" th:value="${arbitro.id}" th:text="|${arbitro.cognome} ${arbitro.nome}|">cognome-nome arbitro</option>
							</select>
						</td>
					</tr>
				</table>
				<input type="submit" value="Modifica"/>
			</form>
		</section>
	</body>
</html>