<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base_admin.html :: headerfiles(title='Cancellazione opera completata', filecss='')">
	</head>
	<body>
		<header th:replace="fragments/base_admin.html :: intestazione">
		</header>
		<section>
			<h1 class="titolo_centrato">Cancellazione di un'opera completata</h1>
			<div class="testo_centrato messaggio_reg_compl">
				Opera cancellata con successo.
			</div>
		</section>
		<footer th:replace="fragments/base_admin.html :: fondo">
		</footer>
	</body>
</html>