<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="headerfiles(title, filecss)">
		<title th:text="${title}">Titolo</title>
		<link href="/css/fragments/base.css" rel="stylesheet"/>
		<link th:if="${filecss!=''}" th:href="@{'/css/' + ${filecss}}" rel="stylesheet"/> 
	</head>
	<body>
		<header th:fragment="intestazione">
			<div id="corpo">
				<div id="parte_sinistra">
					<a th:href="@{/artisti}">Artisti</a>
					<a th:href="@{/collezioni}">Collezioni</a>
					<a th:href="@{/informazioni}">Informazioni</a>
				</div>
				<div id="parte_destra">
					<a th:href="@{/login}">Accedi</a>
				</div>
			</div>
		</header>
		<section>Corpo della pagina</section>
		<footer th:fragment = "fondo"><a th:href="@{/}">Home</a></footer>
	</body>
</html>