<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='Dettagli arbitro', filecss='arbitro.css')"> </head>
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<section>
			<div>
	    	<h1>Dettagli arbitro</h1>
	    	<div th:if="${arbitro}">
	    		Ecco le informazioni dell'arbitro selezionato:
	    		<p>
	    			Arbitro: <span th:text="${arbitro.cognome}">cognome</span> <span th:text="${arbitro.nome}">nome</span> <br>
	    			Nazionalit&agrave;: <span th:text="${arbitro.nazionalita}">nazionalita'</span> <br>
	    			Telefono: <span th:text="${arbitro.telefono}">telefono</span>
	    		</p>
    			Elenco di tutti i tornei che ha arbitrato:
    			<div th:unless="${#lists.isEmpty(tornei)}"></div>
	    			<ul>
	    				<li th:each="torneo : ${tornei}"> 
	    					Torneo: <a th:href="@{'/torneo/' + ${torneo.id}}" th:text="${torneo.nome}">Nome-torneo</a> <br>
	    					Periodo dell'evento <span th:text="|${torneo.mese}/${torneo.anno}|">09/2022</span>
	    				</li>
	    			</ul>
	    		<div th:if="${#lists.isEmpty(tornei)}">
	    			<ul>
	    				<li>Nessun torneo</li>
	    			</ul>
	    		</div>
	   		</div>
	    	<div th:unless="${arbitro}">Nessun arbitro selezionato o arbitro non esistente.</div>
	    </div>
		</section>
	    <footer th:replace="fragments/base.html :: fondo"></footer>
	</body>
</html>