<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='ABCTennis')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div>
    	<h4 th:text="#{header.arbitro}">Dettagli arbitro</h4>
    	
    	<div th:if="${arbitro}" th:object="${arbitro}">
			<span th:text="*{nome}">qui-va-nome</span>
			<span th:text="*{cognome}">qui-va-cognome</span>
			<span th:text="*{nazionalita}">qui-va-nazionalità</span>
   		</div>
    	<div th:unless="${arbitro}">Non esiste</div>
    </div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>