<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='Dettagli arbitro', filecss='arbitro.css')"> </head>
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<section>
			<div>
	    	<h1>Dettagli arbitro</h1>
	    	<div th:if="${arbitro}">
	    		Ecco le informazioni dell'arbitro selezionato:
	    		<p>
	    			Arbitro: <span th:text="${arbitro.cognome}">cognome</span> <span th:text="${arbitro.nome}">nome</span> <br>
	    			Nazionalit&agrave;: <span th:text="${arbitro.nazionalita}">nazionalita'</span> <br>
	    			Telefono: <span th:text="${arbitro.telefono}">telefono</span>
	    		</p>
	   		</div>
	    	<div th:unless="${arbitro}">Nessun arbitro selezionato o arbitro non esistente.</div>
	    </div>
		</section>
	    <footer th:replace="fragments/base.html :: fondo"></footer>
	</body>
</html>