<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="/fragments/base.html :: headerfiles(title='ABCTennis', filecss='index.css')"></head>
	<body>
		<header th:replace="fragments/base.html :: intestazione">
		</header>
		<section>
			<h1>ABCTennis</h1>
			<div> <img src="/images/abc_tennis.png"/> </div>
			<p>
				Benvenuto su ABCTennis, grazie al nostro sito puoi iscriverti ad uno dei nostri tornei di tennis. <br>
				Una volta registrato e fatto il login puoi selezionare a quale torneo vuoi partecipare. <br>
				Se non hai effettuato l'accesso puoi comunque navigare all'interno del sito per vedere le informazioni 
				sulle ultime partite di tutti i tornei fatti.<br>
			</p>
		</section>
	</body>
</html>