<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="/fragments/base.html :: headerfiles(title='ABCTennis', filecss='')"></head>
	<body>
		<header th:replace="fragments/base.html :: intestazione">
			<h1>ciao mamma</h1>
		</header>
		<section>
			<h1>ABCTennis</h1>
			<div> <img src="/images/abc_tennis.png"/> </div>
			<p>
				Benvenuto su ABCTennis, grazie al nostro sito puoi iscriverti ad uno dei nostri tornei di tennis. <br>
				Una volta iscritto puoi selezionare a quale torneo voi partecipare. <br>
				Se non hai fatto l'accesso puoi comunque navigare all'interno del sito per vedere le informazioni 
				sulle ultime partite di tutti i tornei fatti.
			</p>
		</section>
	</body>
</html>