<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='Dettagli torneo', filecss='infoTorneo.css')"> </head>
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<section>
			<div>
	    	<h1>Dettagli torneo</h1>
	    	<div th:if="${torneo}">
				<strong th:text="${torneo.nome}">Nome-torneo</strong>
				<p>
					Numero massimo di partecipanti: <span th:text="${torneo.numeroMaxDiPartecipanti}">numero</span><br>
					Periodo dell'evento: <span th:text="${torneo.mese}">mese</span> <span th:text="${torneo.anno}">anno</span><br>
					Premio in denaro: &euro;<span th:text="${torneo.premioInDenaro}">premio</span><br>
					Arbitro: <a th:href="@{'/arbitro' + '/' + ${torneo.arbitro.id}}" 
							  th:text="|${torneo.arbitro.nome} ${torneo.arbitro.cognome}|">Paolo Rossi</a>
				</p>
	   		</div>
	   		<h2>Partite svolte:</h2>
	   		<div th:if="${partite}">
	   			<ul>
				<li th:each="partita : ${partite}">
					<a href=".html" th:href="@{'/torneo' + '/' + ${partita.torneo.id}}" th:text="|${partita.torneo.nome}|">nome-torneo</a>
					<p>
						<div th:text="|${partita.tennista1.nome} ${partita.tennista1.cognome}: ${partita.punteggioG1} - ${partita.punteggioG2} :${partita.tennista2.nome} ${partita.tennista2.cognome}|">Mario Rossi: 15 - 30 :Luigi Verdi</div>
					</p>
				</li>
			</ul>
	    </div>
	    	<div th:unless="${partite}">Nessuna partita fatta.</div>
	    </div>
		</section>
	    <footer th:replace="fragments/base.html :: fondo"></footer>
	</body>
</html>