<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='Iscrizione torneo', filecss='iscrizioneTorneo.css')"></head>
	<body>
		<header th:replace="fragments/baseUtente.html :: intestazione"></header>
		<section>
			<h1>Iscrizione ad un torneo</h1>
			<div>Scegli tra uno di questi tornei disponibili:</div>
			<form th:action="@{/iscrizioneTorneo}" method="post">
				</div>
				<div class="torneo" th:each="torneoDisponibile : ${torneiDisponibili}" style="height: 77px; ">
					<div class="radioCheckbox">
						<input type="radio" name="torneoSelezionato" th:value="${torneoDisponibile.id}" required>
					</div>
					<div class="info">
						<span th:text="${torneoDisponibile.nome}">nome</span> <br>
						Premio: <span th:text="${torneoDisponibile.premioInDenaro}">premio</span><br>
						Periodo dell'evento: <span th:text="|${torneoDisponibile.mese} ${torneoDisponibile.anno}|">data</span><br>
						Posti disponibili: <span th:text="${torneoDisponibile.numeroMaxDiPartecipanti-torneoDisponibile.numeroPartecipanti}">numero</span>/<span th:text="${torneoDisponibile.numeroMaxDiPartecipanti}">numero partecipanti</span><br>
					</div>
				</div>
				<div><input type="submit" value="Registra"/></div>
			</form>
		</section>
		<footer th:replace="fragments/base.html :: fondo"></footer>
	</body>
</html>