<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='ABCTennis',filecss='login.css')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4>Login</h4>
	</div>
	<form th:action="@{/login}" method="GET">
		<div>
			<div>
				<span>Email:</span>
				<span><input name="email" type="text" required /></span>
			</div>		
			<div>
				<span>Password:</span>
				<span><input name="password" type="password" required /></span>
			</div>
			<div>
				<span><button type="submit">Login</button></span>
			</div>
		</div>
	</form>
    <footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
</body>
</html>