<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Login', filecss='')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h1>Login</h1>
	</div>
	<form th:action="@{/login}" method="post">
		<div>
			<div>
				<span>Email:</span>
				<span><input name="username" type="text" required /></span>
			</div>		
			<div>
				<span>Password:</span>
				<span><input name="password" type="password" required /></span>
			</div>
			<div>
				<span><button type="submit">Login</button></span>
			</div>
		</div>
	</form>
</body>
</html>