<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='Registra arbitro', filecss='registraArbitro.css')"></head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<section>
		<h1>Registra partita</h1>
		<div>Inserisci i dati della partita:</div>
		<form th:action="@{registraPartita}" method="post"
			th:object="${partita}">
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">errori</p>
			</div>
			<div id="partita">
				<div>
					ID torneo: <input type="text" th:field="*{torneo}" />
				</div>
				<div>
					ID primo tennista: <input type="text" th:field="*{tennista1}" />
				</div>
				<div>
					ID secondo tennista: <input type="text" th:field="*{tennista2}">
				</div>
				<div>
					Punteggio primo tennista: <input type="text"
						th:field="*{punteggioG1}" />
				</div>
				<div>
					Punteggio secondo tennista: <input type="text"
						th:field="*{punteggioG2}" />
				</div>
			</div>
			<div>
				<input type="submit" value="Registra" />
			</div>
			<div th:if="${#fields.hasErrors('tennista1')}"
				th:errors="*{tennista1}"></div>
			<div th:if="${#fields.hasErrors('tennista2')}"
				th:errors="*{tennista2}"></div>
			<div th:if="${#fields.hasErrors('punteggioG1)}"
				th:errors="*{punteggioG1}"></div>
			<div th:if="${#fields.hasErrors('punteggioG2')}"
				th:errors="*{punteggioG2}"></div>
		</form>
	</section>
</body>
</html>