<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='Tornei', filecss='tornei.css')"> </head>
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<section>
			<h1>Tornei</h1>
			Qui c'&egrave; l'elenco di tutti di tornei di ABCTennis: <br>
			<ul>
				<li th:each="torneo : ${tornei}">
					<a href="torneo.html" th:href="@{'/torneo' + '/' + ${torneo.id}}" th:text="|${torneo.nome}|">nome-torneo</a>
					<p>
						<div th:text="|Data di svolgimento: ${torneo.mese} ${torneo.anno}|">Data di svolgimento: mese anno</div>
						<div th:text="|Premio della vincinta: &euro; ${torneo.premioInDenaro}|">Premio della vincita: &euro; premio</div>
					</p>
				</li>
			</ul>
		</section>
		<footer th:replace="fragments/base.html :: fondo"></footer>
	</body>
</html>
