<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base_admin.html :: headerfiles(title='Registrazione opera completata', filecss='')">
	</head>
	<body>
		<header th:replace="fragments/base_admin.html :: intestazione">
		</header>
		<section>
			<h1 class="titolo_centrato">Registrazione artista completata</h1>
			<div class="testo_centrato messaggio_reg_compl">
				La registrazione dell'opera <span th:text="${opera.titolo}"></span>
				&egrave; andata a buon fine.
				<br>Premi <a th:href="@{/default}">qui</a> per tornare alla home.
			</div>
		</section>
		<footer th:replace="fragments/base_admin.html :: fondo">
		</footer>
	</body>
</html>