<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base_admin.html :: headerfiles(title='Registrazione collezione completata', filecss='')">
	</head>
	<body>
		<header th:replace="fragments/base_admin.html :: intestazione">
		</header>
		<section>
			<h1 class="titolo_centrato">Registrazione collezione completata</h1>
			<div class="testo_centrato messaggio_reg_compl">
				La registrazione della collezione <span th:text="${collezione.nome}">nome-collezione</span>.<br>
				premi <a th:href="@{/inserisciOpere}">qui</a> per aggiungere opere alla collezione.
				&egrave; andata a buon fine.
			</div>
		</section>
		<footer th:replace="fragments/base_admin.html :: fondo">
		</footer>
	</body>
</html>