<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base_admin.html :: headerfiles(title='Registrazione curatore completata', filecss='')">
	</head>
	<body>
		<header th:replace="fragments/base_admin.html :: intestazione">
		</header>
		<section>
			<h1 class="titolo_centrato">Registrazione curatore completata</h1>
			<div class="testo_centrato messaggio_reg_compl">
				La registrazione del curatore <span th:text="|${curatore.cognome} ${curatore.nome}|"></span>
				&egrave; andata a buon fine.
			</div>
		</section>
		<footer th:replace="fragments/base_admin.html :: fondo">
		</footer>
	</body>
</html>