h2 {
	font-size: 20pt;
}

#elenco_opere{
	display: flex;
	flex-direction:column;
	align-items: center;
	width:100%;
	}
	
.opera{
	align-items: center;
	display: flex;
	flex-direction: column;
	width:50%;
	height:100%;
}

img{
	width:50%;
}