<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base_admin.html :: headerfiles(title='Aamin Home', filecss='admin/home.css')">
	</head>
	<body>
		<header th:replace="fragments/base_admin.html :: intestazione">
		</header>
		<section>
			<h1 class="titolo_centrato">Sezione Amministratore</h1>
			Benvenuto Amministratore, qui puoi fare operazioni come registrare un nuovo artista, una nuova opera e cos&igrave; via. <br>
			Scegli una di queste opzioni elencate: <br>
			<h2>Registrazione:</h2>
			<ul>
				<li> <a th:href="@{/admin/registraArtista}">Registra un nuovo artista</a>.
				<li> <a th:href="@{/admin/registraOpera}">Registra una nuova opera</a>.
				<li> <a th:href="@{/admin/registraCuratore}">Registra un nuovo curatore</a>.
				<li> <a th:href="@{/admin/registraCollezione}">Registra una nuova collezione</a>.
			</ul>
			<h2>Inserimento:</h2>
			<ul>
				<li> <a th:href="@{/admin/sceltaCollezionePerInserireOpere}">Inserisci una o pi&ugrave; opere in una collezione</a>.
				<li> <a th:href="@{/admin/sceltaCollezionePerRimuovereOpere}">Rimuovi una o pi&ugrave; opere da una collezione</a>.
			</ul>
			<h2>Cancellazione:</h2>
			<ul>
				<li> <a th:href="@{/admin/cancellaOpera}">Cancella una opera</a>.
				<li> <a th:href="@{/admin/cancellaCollezione}">Cancella una collezione</a>.
			</ul>
			<h2>Modifica:</h2>
			<ul>
				<li> <a th:href="@{/admin/selezioneOperaDaModificare}">modifica una opera</a>.
				<li> <a th:href="@{/admin/sceltaCollezionePerModifica}">modifica una collezione</a>.
			</ul>
		</section>
		<footer th:replace="fragments/base_admin.html :: fondo">
		</footer>
	</body>
</html>